extends layout

block content
	script(src="menu.js" type="text/javascript")
	div.row.margin_top
		div.col-md-2
		ul.col-md-9
			if (user)
				h2 Admin Panel
			else
				p You are currently not logged in. Please login or register...
	div.row
		div.col-md-2
		div.col-md-9
			h3 Orders
			table.table.table-striped
				each count, index in orderCount
					tr
						td #{index}
						if(count[1])
							td #{count[1]}
						else
							td 0
	br
	br
	div.row
		div.col-md-2
		div.col-md-9
			h3 Feedbacks
			table.table.table-striped
				tr
					th title
					th review
					th ratings
				each feed, index in feeds
					tr
						td= feed.title
						td= feed.feedback
						td= feed.rating